@import "tailwindcss";

@theme {
  --color-forest: #1B4332;
  --color-harvest: #D4A373;
  --color-clay: #FAEDCD;
  --color-chalk: #FEFAE0;
  --color-stone: #4A4E69;
  --font-raleway: "Raleway", sans-serif;
}

:root {
  --background: var(--color-clay);
  --foreground: var(--color-forest);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

#reader video {
  border-radius: 2rem !important;
  object-fit: cover !important;
}

#reader button {
  background-color: #064e3b !important;  
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 1rem !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  border: none !important;
  margin-top: 10px !important;
}